@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    align-items:
}
.square-1{
    align-items: flex-start;
    justify-content: flex-start;
}
.square-2{
    align-items: flex-end;
    justify-content: flex-start;
}
.square-3{
    align-items: flex-start;
    justify-content: flex-end;
}
.square-4{
    align-items: flex-end;
    justify-content: flex-end;
}
.acticle-1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.acticle-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.acticle-3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.acticle-4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
}